/* .user-profile {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
  }
  
  .user-profile img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
  }
  
  .user-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  
   */